  p, h2 {
   margin: 0;
 }

 .title {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size:larger;
 }

 .price {
   font-size: medium;
   text-align: center;
   color: cornflowerblue;
 }

 .category {
   font-style: italic
 }
